body
{
    margin: 0;
}
.sec1
{
    height: 105px
}
.head
{
    height: 165px;
    width: 100%;
    background-color: black;
    position: static
}
.cont
{
    width: 33%;
    height: 38px;
    padding: 20px 0 0 30px;
    float: left
}
.phone
{
    float: left;
}
.msg
{
    margin-top: 3px;
    margin-left: 35px
}
.logo
{
    width: 33%;
    float: left;
    margin-left: 92px;
}
.covid
{
    color: white;
    padding-top: 35px;
    float: left
}
.covid a
{
    text-decoration: none;
    color: white;
}
.covid a:hover
{
    color: #e10f5e;
}
.book
{
    width: 136px;
    height: 44px;
    color: white;
    background-color: #e10f5e;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
    font-family: helvetica;
}
.book a
{
    text-decoration: none;
    color: white;
}
.book a:hover
{
    text-decoration: underline; 
}
.nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white
}
.nav ul
{
    list-style-type: none
}
.nav ul li
{
    float: left;
    padding-left: inherit;
}
.dot
{
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-left: 30px
}
.nav ul li a
{
    text-decoration: none;
    color: white;
}
.nav ul li a:hover
{
    color:#e10f5e 
}
.art
{
    margin: 0 222px 0 222px;
}
.sec2
{
    height: 420px
}
.gbf
{
    width: 444px;
    height: 391px;
    float: left;
}
.gbf1
{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 40px;
    height: 345px;
    width: 444px;
    margin-left: 56px;
    margin-top: 80px;
    
}
.gbf2
{
    font-family: sans-serif;
    font-size: 15px;
    color: black;
    font-weight: 100;
    margin-top: 30px
}
.reserve
{
    margin-top: 20px;
    height: 39px;
    width: 106px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reserve a
{
    text-decoration: none;
    color: white;
}
.reserve a:hover
{
    color: #e10f5e
}
.banner
{
    margin-top: 7px;
    width: 666px;
    height: 347px;
    float: left
}
.enquiry
{
    background-color: white;
    Width:1169px;
    Height:590px;
}
.enq
{
    height: 590px;
    width: 1169px;
    box-shadow: 0px 18px 25px #efeeee;
}
.sec3
{
    margin: 0px 15px 0px 15px
}
.req
{
    padding-top: 40px;
    font-family: sans-serif;
    font-size: 12px
}
.checkin
{
    margin-top: 40px;
    font-family: sans-serif
    
}
.ip
{
    border: 1px solid black;
    width: 1140px;
    height: 41px;
}
.search
{
    width: 108px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-top: 40px;
    font-family: sans-serif
}
.search a
{
    text-decoration: none;
    color: white;
}
.search a:hover
{
    color: deeppink;
}
.the
{
    height: 250px;
    width: 100%;
    margin-top: 73px;
    font-family: sans-serif;
    
}
.desc1
{
    font-size: 30px;
    font-weight: 500;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc2
{
    height: 102px;
   text-align: center;
    margin-top: 35px;
    font-weight: 100;
    font-size: 15px;
    line-height: 24px;
}
.map
{
    height: 573px;
    width: 1140px;
    
}
.backg
{
   
    width: 712px;
    height: 573px;
}
.desc3
{
    float: left;
    display: contents; 
    height: 573px;
    width: 712px;
    background-color: #fbeff3;
    display: inline-block
}
.info1
{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 500px;
    line-height: 35px;
    color: black;
    margin-left: 45px;
    padding-top: 50px;
}
.info2
{
    height: 234px;
    width: 391px;
    margin-left: 45px;
    margin-top: 30px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 23px;
    font-size: 16px;
}
.button
{
    height: 40px;
    width: 227px;
    background-color: black;
    margin-left: 45px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px #00000080;
     display: flex;
    align-items: center;
    justify-content: center;
    
}
.button a
{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 23px;
    font-weight: lighter;
    
}
.button a:hover
{
    color: deeppink;
}
.maps
{
    height: 492px;
    float: left;
    margin-top: 40px;
    margin-left: 530px;
    position: absolute;

}
.calling
{
    height: 653px;
    width: 100%;
   
}
.call1
{
    height: 40px;
    width: 1140px;
     display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #333333;
    margin-top: 100px
}
.drawers
{
    height: 475px;
    width: 1000px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px 
}
.drawer1
{
    height: 474px;
    width: 310px;
    display: block;
     box-shadow:0px 0px 10px 0px #efeeee;
    
    
}
.drawer2
{
    height: 474px;
    width: 310px;
    display:block;
     box-shadow:0px 0px 10px 0px #efeeee;
}
.drawer3
{
    height: 474px;
    width: 310px;
    display: block;
     box-shadow: 0px 0px 10px 0px #efeeee;
}
.spa 
{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 3px;
    width: 308px
}